In [96]:
import numpy as np
import pandas as pd

In [97]:
dataset = pd.read_csv('/home/accubits/Desktop/MARRIAGEDATA/Second Tab/1.csv', header=None)

In [98]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10
0,2C722ABE-4BCE-E911-A2BC-00155D138354,2019-09-03 13:07:14,2019-03-02 20:00:00.000,2019.0,APPID0001476-ABDULLA SAEED THABET SAEED ALJNEI...,ABDULLA SAEED THABET SAEED ALJNEIBI,23191.0,Abu Dhabi,أبوظبي,2019,9
1,4C722ABE-4BCE-E911-A2BC-00155D138354,2019-09-03 13:07:15,2018-07-01 20:00:00.000,2018.0,APPID0001477-ABDULLA AINA ABDULLA BADER ALAMER...,ABDULLA AINA ABDULLA BADER ALAMERI,21000.0,Abu Dhabi,أبوظبي,2019,9
2,AC722ABE-4BCE-E911-A2BC-00155D138354,2019-09-03 13:07:17,2017-05-24 20:00:00.000,2017.0,APPID0001480-NASSER MOHAMMED HASSAN ALJABERI-G...,NASSER MOHAMMED HASSAN ALJABERI,19585.0,Abu Dhabi,أبوظبي,2019,9
3,0C732ABE-4BCE-E911-A2BC-00155D138354,2019-09-03 13:07:20,2017-03-03 20:00:00.000,2017.0,APPID0001483-عبدالله علي سعيد العلوي-Grant,عبدالله علي سعيد العلوي,16200.0,Abu Dhabi,أبوظبي,2019,9
4,4C732ABE-4BCE-E911-A2BC-00155D138354,2019-09-03 13:07:21,2017-02-18 20:00:00.000,2017.0,APPID0001485-MOHAMMED NASSER ALI ALDEREI-Grant,MOHAMMED NASSER ALI ALDEREI,19825.0,Abu Dhabi,أبوظبي,2019,9

In [99]:
mean = np.mean(dataset[6])
mean

11077.430753312303

In [100]:
std = np.std(dataset[6])
std

42473.4291144348

In [114]:
dataset = dataset[(np.abs(dataset[6]-mean) > (2*std))]